# .github/workflows/use-manual.yml
name: Use Reusable Manual Workflow

on:
  push:
    branches:
      - main  # Trigger when pushing to the master branch

jobs:
  call-reusable-workflow:
    uses:  ./.github/workflows/main.yml  # Replace with your repo and branch
    with:
      repo-name: 'Calculator-githubact'  # Input value passed to the reusable workflow

